<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 id="head">View Reservation</h1>
    <% reserves.forEach(reserve => { %> 
        <% if(`${reserve.user}`!= `${username}` && `${type}`!= "admin") {return;} %>
        <div style="margin: 30px;background-color: antiquewhite;">
            <h1><%= reserve.user %></h1>
            <p><%= reserve.room_type %></p>
            <p><%= reserve.room_no %></p>
            <p><%= reserve.occupancy %></p>
            <p><%= reserve.status %></p>
            <p><%= reserve.checkin %></p>
            <p><%= reserve.checkout %></p>
        </div>
    <% }) %> 
</body>
</html>